/*main styles*/

.mdl-layout__content > .page_create {
    min-height: 510px
}

a{
    text-decoration: none;
    display: flex;
}

.card-icon {
    font-size:35px;
    color: #424242
}

.page-content{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
}
.card{
    margin: 10px;
    background: #ffffff;
    border-radius: 4px;
    max-width: 500px
}

.create_card{
    height: 100%
}

.card > button{
    height: 70px;
}

.card > a > .card-info > p{
    margin: 0;
    padding: 0
}

.card > button > a > .card-info {
    width: 100%
}

.card-title {
    display: flex;
    padding: 0;
    margin: 0 20px;
}
.card_inner{
    display: flex;
    align-items: center
}

.card_inner > a {
    width: 100%;
    align-items: center;
}

.card_inner > a > .card-info > .card-title{
    padding: 0;
    margin: 0 20px;
    border-bottom: 1px solid #424242
}

.card_inner > a > .card-info > .card-exercise{
    padding: 0;
    margin: 0 20px;
    display: flex;
    align-self: center;
}

footer {
    background: #424242;
    display: flex;
    height: 56px;
    justify-content: space-around
}

.footer__left-section, .footer__right-section {
    display: flex;
    align-items: center;
}

.active-page{
    color: rgb(3,169,244)
} 

.mdl-logo{
    margin: 0
}

/*Create new page*/

.overlay{
    width: 100px;
    height: 100px;
    display: none;
}

.hide-overlay {
    display: block;
}

.main_card {
    display: flex;
    justify-content: center;
}

.create_new_card{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.create_card_inner{
    display: flex;
    align-items: center;
    min-height: 66px;
    border-radius: 0;
    border-bottom: 1px solid #424242;
}

.create_card_inner > .card-info{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.create_card_inner > .card-icon{
    display: flex;
    align-items: center
}

.create_card_inner > div > .confirm-btn > i{
    height: auto;
    padding: 0;
    min-width: 25px;
}

.create_card_inner > .card-info. card-title{
    display: flex;
    align-items: flex-start
}

.create_card_inner > .card-info > .card-exercise{
    margin: 0 20px;
    border-top: 1px solid black
}

.workout_name{
    margin: 15px 15px 0 15px ;
}

input {
    border: 1px solid #424242;
    padding: 10px;
}

input.add_workout {
    width: 70%
}

.new_list{
    margin: 15px;
    display: flex;
    flex-direction: column
}

.workout_list{
    height: 200px
}

.new_exercise{
    height: 130px
}

.exercise_list{
    margin-top: 15px;
    border-bottom: 1px solid #424242
}

.exercise_list > .exercise {
    display: flex;
    justify-content: space-between
}

.exercise_list > .exercise > button {
    line-height: 0;
    height: auto;
    padding: 0;
    margin: 0;
    border-radius: 15px;
    min-width: 10px;
}

.exercise_list > .exercise > button > p {
    margin: 0;
    padding: 0;
}

.exercise_list > div > p {
    margin: 0
}

.existing_list {
    border-bottom: none;
    overflow: auto;
    margin: 0;
}

.time-section {
    margin-top: 15px
}

.time-section > .timer{
    display: flex;
    justify-content: center;
    margin: 20px
}

.time-section > .start-stop {
    display: flex;
    justify-content: space-around
}

.time-section > .timer > p{
    font-size: 55px;
    line-height: 55px;
    margin: 0
}

.time-section > div > .start-button > p{
    padding: 0;
    margin: 0;
    color: white
}

.time-button {
    padding: 0;
    min-width: 10px;
    height: 20px;
}

.time-button > p{
    padding: 0;
    margin: 0;
    line-height: 0;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 50px; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2;
}

#overlay > .main-overlay{
    width: 200px;
    height: 100px;
    background-color: red
}
    
/*YOUR GYMS*/

.card > .containers > #offline-map-container{
    display: none;
    padding: 0 15px;
}

.card > div > .gym-title {
    padding-left: 15px;
}

.card > .containers > #offline-map-container > div > .card-info{
    display: flex;
}

.card > .containers > #offline-map-container > div > .card-info > .gym-name{
    font-weight: bold;
    min-width: 120px
}