.mdl-layout__content > .page-content {
    display: flex;
    justify-content: center
}

.mdl-layout__content > .page-content > .mdl-card{
    margin-top: 15px;
/*    height: 70px;*/
    min-height: 60px
}