.mdl-layout__content > .page-content {
    display: flex;
    justify-content: center;
    flex-direction: column
}

.card{
    min-height: 60px;
    border-radius: 3px;
    margin: 5px 10px;
    background: #ffffff;
}